.header{
    /* width: 1440px; */
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 112px;
    padding-right: 96px;
}
nav.header a{
    text-decoration: none;
    color: white;
    margin-left: 30px;

    
}
nav.header a:hover{
    color: chartreuse;
}